.comment-table {
  margin: 20px;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #ddd;
  text-align: left;
}

.search-align{
  display: flex;
  justify-content:row;
  
}